@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-weight: 300;
	src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-weight: 400;
	src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-weight: 600;
	src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-weight: 900;
	src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}


:root {
	--color-primary-dark: #31261a;
	--color-primary-light: #faf4ea;
	--color-brand-light: #819b57;
	--color-brand-dark: #465929;
}

/* Base */
ul {
	list-style-type: none;
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--color-primary-dark);
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}

.section-title {
	font-weight: 900;
	font-size: 64px;
}

address {
	font-style: normal;
}

/* Sections settings */
.section-title {
	font-size: 64px;
	font-weight: 900;
	line-height: 1.3;
}

/* Button */
.button {
	background-color: var(--color-brand-light);
	border: 2px solid var(--color-brand-light);
	border-radius: 8px;
	padding: 16px 32px;
	width: 232px;
	height: 59px;
	font-weight: 600;
	font-size: 18px;
	color: var(--color-primary-light);
	cursor: pointer;
}

.button:active {
	background: transparent;
	color: var(--color-brand-dark);
}

/* Link */
.link {
	text-align: center;
	color: var(--color-primary-light);
	text-decoration: none;
}

.link:hover {
	text-align: center;
	color: var(--color-brand-light);
	font-weight: 600;
}

/* Hero section */
.hero-title {
	font-weight: 900;
	font-size: 128px;
	text-align: center;
	color: var(--color-primary-light);
}

.hero-title .accent {
	font-weight: 900;
	font-size: 128px;
	text-align: center;
	color: var(--color-brand-light);
}

/* Advantages section */
.advantages-list {
	color: var(--color-primary-light);
	background: var(--color-brand-light);
}

.advantages-item {
	font-weight: 300;
	font-size: 20px;
}

/* Chefs section */
.section-title .accent {
	font-weight: 900;
	font-size: 64px;
	text-align: center;
	color: var(--color-brand-dark);
}

.chefs-title {
	font-size: 40px;
	font-weight: 600;
}

/* Tradition section */
.tradition-text .brand {
	color: var(--color-brand-light);
}

.tradition-text .brand-uppercase {
	text-transform: uppercase;
	color: var(--color-brand-light);
	font-weight: 600;
}

/* Format section */
.format-title {
	font-size: 24px;
	font-weight: 600;
}

.format-text {
	font-size: 14px;
	font-weight: 300;
}

/* Footer */
.adress-link {
	color: var(--color-primary-light);
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
}

.adress-link:hover {
	color: var(--color-brand-light);
}

.adress-copyright {
	font-size: 14px;
	color: #a18268;
}