@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-weight: 300;
	src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-weight: 400;
	src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-weight: 600;
	src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-weight: 900;
	src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}


:root {
	--color-primary-dark: #31261a;
	--color-primary-light: #faf4ea;
	--color-brand-light: #819b57;
	--color-brand-dark: #465929;
}

/* Base */
* {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--color-primary-dark);
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
}

.section-title {
	font-weight: 900;
	font-size: 64px;
}

address {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

.vissualy-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Sections settings */
.section-title {
	font-size: 64px;
	font-weight: 900;
	line-height: 1.3;
}

.section {
	padding: 48px 0;
}

.conteiner {
	width: 100%;
	max-width: 1288px;
	margin: 0 auto;
	padding: 0 24px;
}

/* Button */
.button {
	padding: 16px 32px;
	background-color: var(--color-brand-light);
	border: 2px solid var(--color-brand-light);
	border-radius: 8px;
	font-weight: 600;
	font-size: 18px;
	color: var(--color-primary-light);
	cursor: pointer;
}

.button:active {
	background: transparent;
	color: var(--color-brand-dark);
}

/* Link */
.link {
	text-align: center;
	color: var(--color-primary-light);
	text-decoration: none;
}

.link:hover {
	text-align: center;
	color: var(--color-brand-light);
}

/* Header */
.header-conteiner {
	display: flex;
	align-items: center;
	gap: 40px;
}

.header-nav {
	display: flex;
	align-items: center;
	flex-grow: 1;
	gap: 40px;
}

.header-menu {
	display: flex;
	gap: 64px;
	flex-grow: 1;
	justify-content: center;
}

/* Hero section */
.hero-section {
	padding: 272px 0px;
}

.hero-title {
	font-weight: 900;
	font-size: 128px;
	text-align: center;
	color: var(--color-primary-light);
	margin-bottom: 0;
}

.hero-title .accent {
	font-weight: 900;
	font-size: 128px;
	text-align: center;
	color: var(--color-brand-light);
}

/* Advantages section */
.advantages-section {
	padding: 16px 0;
	background: var(--color-brand-light);
}

.advantages-list {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.advantages-item {
	color: var(--color-primary-light);
	font-weight: 300;
	font-size: 20px;
}

/* Chefs section */
.section-title .accent {
	font-weight: 900;
	font-size: 64px;
	text-align: center;
	color: var(--color-brand-dark);
}

.chef-title {
	margin-bottom: 16px;
	font-size: 40px;
	font-weight: 600;
}

.chefs-title {
	margin-bottom: 80px;
}

/* Tradition section */
.tradition-title {
	margin-bottom: 42px;
}

.traditions-content {
	max-width: 710px;
}

.traditions-conteiner {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.tradition-section {
	padding-top: 96px;
}

.tradition-text .brand {
	color: var(--color-brand-light);
}

.tradition-text .brand-uppercase {
	text-transform: uppercase;
	color: var(--color-brand-light);
	font-weight: 600;
}

.tradition-text.limited {
	max-width: 340px;
}

/* Format section */
.formats-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.formats-title {
	margin-bottom: 80px;
}

.formats-item {
	flex-basis: calc((100% - 40px) / 3);
}

.format-card {
	padding: 24px;
	border-radius: 16px;
	border: 1px solid lightgray;
}

.format-title {
	font-size: 24px;
	font-weight: 600;
}

.format-text {
	font-size: 14px;
	font-weight: 300;
}

/* Contact section */
.contact-title {
	margin-bottom: 16px;
}

/* Footer */
.adress-link {
	color: var(--color-primary-light);
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
}

.adress-link:hover {
	color: var(--color-brand-light);
}

.adress-copyright {
	font-size: 14px;
	color: #a18268;
}