:root {
	--color-primary-dark: #31261a;
	--color-primary-light: #faf4ea;
	--color-brand-light: #819b57;
	--color-brand-dark: #465929;
}

/* Base */
ul {
	list-style-type: none;
}

body {
	color: var(--color-primary-dark);
}

.section-title {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-size: 64px;
	line-height: 131%;
}

/* Button */
.button {
	background-color: var(--color-brand-light);
	border: 2px solid var(--color-brand-light);
	border-radius: 8px;
	padding: 16px 32px;
	width: 232px;
	height: 59px;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: var(--color-primary-light);
	cursor: pointer;
}

.button:active {
	background: transparent;
	color: var(--color-brand-dark);
}

/* Link */
.link {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	color: var(--color-primary-light);
}

.link:hover {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-size: 128px;
	text-align: center;
	color: var(--color-primary-light);
}

.hero-title .accent {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-size: 128px;
	text-align: center;
	color: var(--color-brand-light);
}

/* Advantages section */
.advantages-list {
	padding: 16px 99px;
	width: 1440px;
	height: 62px;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: var(--color-primary-light);
	background: var(--color-brand-light);
}

/* Chefs section */
.section-title .accent {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-size: 64px;
	line-height: 131%;
	text-align: center;
	color: var(--color-brand-dark);
}