/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(
    --color-primary-light
  );
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Sections settings */
.section-title {
  font-weight: 900;
  font-size: 64px;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
