@import "./utils/fonts";
@import "./utils/variables";

@import "./_base.scss";

@import "./utils/utils";

@import "./components/buttons";
@import "./components/links";
@import "./components/header";
@import "./components/hero-section";
@import "./components/advantages-section";
@import "./components/chefs-section";
@import "./components/tradition-section";
@import "./components/format-section";
@import "./components/carousel";
@import "./components/contact-section";
@import "./components/footer";
@import "./components/modal";
@import "./components/form";
