@import "./utils/fonts";
@import "./utils/variables";
@import "./utils/texts";

@import "./_base.scss";

@import "./utils/utils";

@import "./components/buttons";
@import "./components/links";
@import "./components/carousel-button";
@import "./components/chef-card";
@import "./components/format-card";
@import "./components/input";

@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/advantages-section";
@import "./layouts/chefs-section";
@import "./layouts/tradition-section";
@import "./layouts/formats-section";
@import "./layouts/contact-section";
@import "./layouts/footer";
@import "./layouts/modal";
@import "./layouts/section";
@import "./layouts/form-terms";
