/* Button */
.button {
  padding: 16px 32px;
  background-color: var(
    --color-brand-normal
  );
  border: 2px solid
    var(--color-brand-normal);
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-primary-light);
  cursor: pointer;
}

.button:active {
  background: transparent;
  color: var(--color-brand-dark);
}