/* Link */
.link {
  text-align: center;
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  text-align: center;
  color: var(--color-brand-normal);
}