/* Tradition section */
.tradition-title {
  margin-bottom: 42px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.tradition-section {
  padding-top: 96px;
}

.tradition-text .brand {
  color: var(--color-brand-normal);
}

.tradition-text .brand-uppercase {
  text-transform: uppercase;
  color: var(--color-brand-normal);
  font-weight: 600;
}

.tradition-text.limited {
  max-width: 340px;
}
