/* Contact section */
.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  &__map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
    width: 600px;
    height: 595px;
  }

  &__title {
    margin-bottom: 16px;
  }
}
