.formats-section {
  &__carousel-wrapper {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
  }
	    &__item {
      flex-basis: calc(
        (100% - 40px) / 3
      );
    }
}
