.section {
  padding: 48px 0;

  &__title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;

    &--centered {
      text-align: center;
    }
  }
}

.section-title .accent {
  font-weight: 900;
  font-size: 64px;
  text-align: center;
  color: var(--color-brand-dark);
}